* {
	margin:0;
	padding:0;
}
body {
	background-color: #bed2d1;
}
a {
	color: #451a0f;
	text-decoration: none;
	border-bottom: 1px solid #451a0f;
}
a:hover {
	color: #b84a2d;
	border-bottom: 1px solid #b84a2d;
}
#container {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fbe5b2;
	font-family: Arial, sans-serif;
	color: #451a0f;
	padding-top: 50px;
}
.information {
	padding: 20px 20px;
	font-size: 20px;
}
#header {
	background-image: url(../img/header-background.jpg);
	background-repeat: no-repeat;
	height: 373px;
	width: 100%;
	max-width: 1120px;
	font-family: Calibri, sans-serif;
	position: relative;
}
#header a {
	border: none;
}
.header-string {
	overflow: hidden;
	width: 100%;
}
.header-string:last-child {
	overflow: hidden;
	width: 100%;
	margin-top: 135px;
}
#header-text {
	float: left;
	font-size: 275%;
	margin-top: 15px;
	margin-left: 30px;
}
#logo {
	float: right;
	margin-top: 15px;
	margin-right: 30px;
}
#header-phone {
	float: left;
	font-size: 344%;
	margin-left: 30px;
	margin-top: 150px;
}
#header-btn {
	float: right;
	width: 506px;
	height: 99px;
	background-image: url(../img/header-button-sprite.png);
	margin-right: 60px;
	margin-top: 130px;
}
#header-btn:hover {
			background-position: 0 97px;
		}
#header-btn:active {
			background-position: 0 203px;
}
form {
	text-align: center;
}
#header-form {
	width: 400px;
	font-size: 140%;
	border: 1px solid #451a0f;
	background-color: #ebe5e5;
	position: absolute;
	z-index: 20;
	right: 20px;
	bottom: 10px;
	display: none;
	
}
#header-form p {
	margin-top: 10px;
	margin-bottom: 10px;
}
input, 
button {
	border: 1px solid #451a0f;
	padding: 10px;
	margin: 10px;
	width: 300px;
}
button {
	background-color: #602212;
	color: #ebe5e5;
	font-size: 60%;
	padding: 7px;
}
#header-form input:last-child {
	margin-bottom: 20px;
	background-color: #602212;
	color: #ebe5e5;
}
#header-form input:last-child:hover,
button:hover {
	background-color: #7c483b;
}
#header-form input:last-child:active,
button:active {
	background-color: #2f1109;
}
.menu {
	width: 100%;
	background-color: #ebe5e5;
	list-style: none;
	font-size: 200%;
	font-family: Calibri, sans-serif;
}
.menu li {
	display: inline-block;
	padding: 5px 40px;
	position: relative;
}
.menu li:first-child {
	border: none;
}
.menu a {
	border-bottom: none;	
}
#about {
	margin-top: 60px;
	margin-bottom: 35px;
	margin-left: 25px;
	margin-right: 25px;
}
#about p {
	font-size: 175%;
	margin-top: 40px;
	line-height: 40px;
}
#about p:first-child {
	text-align: justfy;
}
#about p:last-child {
	text-align: center;
}
#food-block {
	background-color: #ebe5e5;
	font-size: 200%;
	padding-top:18px;
	padding-bottom: 35px;
}
#food-block p {
	text-align: center;
	
}
.dish {
	display: inline-block;
	vertical-align: top;
	border: 4px solid #835347;
	height: 345px;
	margin-top:25px;
	margin-right: 13px;
}
.arrow {
	display: inline-block;
	margin-top: 140px;
	margin-right: -25px;
}
.arrow:first-of-type {
	margin-right: 0;
	margin-left: 15px;
}
.dish p {
	width: 231px;
	font-size: 70%;
	line-height: 150%;
}
.dish img {
	border-bottom: 4px solid #835347;
	width: 231px;
}
#delivery {
	overflow: hidden;
	width: 100%;
	font-size: 200%;
	margin-top: 30px;
}
#delivery-pay,
#delivery-deliver {
	width: 485px;
	overflow: hidden;
}
#delivery-pay {
	float: left;
}
#delivery-deliver {
	float: right;
}
#delivery a,
#delivery img {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 15px;
}
#delivery a {
	border: none;
	text-decoration: underline;
	height: 120px;
}
#delivery img {
	margin-right: 30px;
}
.left-side {
	float: left;
	margin-left: 30px;
}
.right-side {
	float: right;
	margin-right: 40px;
}
table {
	width: 95%;
	border: 2px solid #835347;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	font-size: 175%;
	margin-top: 30px;
	margin-bottom: 20px; 
}
td,
th {
	border: 2px solid #835347;
	padding: 10px;
}
th {
	text-align: left;
}
.content p,
h2 {
	margin: 20px 40px;
	font-size: 170%;
}
h2 {
	margin-top: 40px;
}
.content .article {
	font-size: 140%;
}
.article img {
	width: 300px;
	float: left;
	margin-right: 30px;
	margin-bottom: 10px;
	border: 4px solid #835347;
}
#map-container {
	width: 100%;
	text-align: center;
}
#map {
	width: 85%;
	margin-top: 20px;
	margin-bottom: 30px;
}
#dishes-content {
	width: 95%;
	font-size: 200%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-left: 45px;
}
#dishes-content p {
	text-align: center;
}
#dishes-content #numpages {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
#dishes-content form {
	text-align: left;
	margin-right: 25px;
}
#dishes-content select {
	width: 300px;
	font-size: 75%;
	border: 2px solid #835347;
	padding: 5px;
	background-color: #ebe5e5;
}
#more {
	margin-bottom: 30px;
}
#about-dish {
	overflow: hidden;
	margin: 50px 30px;
	font-size: 130%;
	line-height: 150%;
}
#about-dish p {
	margin-top: 15px;
}
#price {
	font-size: 150%;
}
h1 {
	font-size: 180%;
}
#about-dish img {
	width: 300px;
	border: 4px solid #835347;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
}
.right {
	text-align: right;
}
#footer {
	background-image: url(../img/footer-background.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 204px;
}
#footer .contacts {
	float: left;
	font-size: 160%;
	margin-top: 140px;
	margin-left: 25px;
}
#footer .social-icons {
	float: right;
	margin-top: 127px;
	margin-right: 25px;
}
#footer .social-icons img {
	margin-left: 12px;
}
#footer .social-icons a {
	border-bottom: none;
}